<h1>Albums list</h1>

<table border="1">
    <thead>
        <tr>
            <th>Album</th>
            <th>ARTIST</th>
        </tr>
    </thead>
    <tbody>
        {{#each albums}}
        <tr>
            <td>{{Album}}</td>
            <td>{{Artist}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>